


a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 80%;
    width: 6px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transition: 0.5s;
    transform: translateX(-50%);
}

a:hover i::before {
    width: 15px;
    left: 20%;
}


a {
    position: relative;
    background: #444;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 2px 6px;
    transition: 0.5s;
    
}

a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px;

}

a::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::after {
    content: '';
    position: absolute;
    top: 23.5px;
    left: 10%;
    width: 6px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a:hover i::after {
    width: 15px;
    left: 60%;
}